.DS_Store
.coverage
dist/*
src/routes/routes.ts
src/generated/*
node_modules/
public/
.env
.env.*
!.env.example
.npmrc
.npmrc.*
!.npmrc.example
*.zip
yarn-error.log
src/routes/routes.ts
.npmrc
openapi-generator-cli-5.3.0.jar
logs/
metronetinc-*.tgz
